<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    The daily penny savings calculator
  </h1>
</div>

<div class='container'> 
  <h2>
    Use this to work out how much you will be paying into your pot between 2 dates.
  </h2>
</div>


<div class='panel-body'>
    <div class='container'>
        <div class='row'>
          <div class='col-md-4'>
              <label>Date to start (will include this day in calculation)</label>
          </div>
            <div class='col-md-2'>     
              <ejs-datepicker id='start' (change)='onStartChange($event)' placeholder='Select start date' [value]='startDateValue' [min]='minDate' [max]='maxDate' format ='dd-MM-yyyy'></ejs-datepicker>
              </div>
        </div>

        <div class='row'>
          &nbsp;
        </div>

        <div class='row'>
            <div class='col-md-4'>
                <label>Date to finish (will NOT include this day in calculation)</label>
            </div>
            <div class='col-md-2'>
              <ejs-datepicker id='end' (change)='onEndChange($event)' placeholder='Select end date' [value]='endDateValue' [min]='minDate' [max]='maxDate' format ='dd-MM-yyyy'></ejs-datepicker>
            </div>
        </div>

        <div class='row'>
            &nbsp;
          </div>

        <div class='row'>
          <div class='col-md-2'>
            <button class='btn btn-success buttonRounded'
                        (click)='onGoClicked()'>
                            Calculate
            </button>
          </div>

          <div *ngIf="total!='0'" class='col-md-4'>
            <label>You will deposit: {{total}}</label>
          </div>
        </div>
    </div>
</div>






<router-outlet></router-outlet>
